.graphType {
    display: flex;
    gap: 1rem;
}
@media (max-width: 600px) {
    .graphType {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .graphType label {
        width: 100%;
        text-align: center;
    }
}
