.realTimeParams {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.realTimeParams label {
    font-size: 14px;
}
@media (max-width: 600px) {
    .realTimeParams {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .realTimeParams label {
        width: 100%;
        text-align: center;
    }
}
