.historicParams {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.historicParams label {
    font-size: 14px;
}
@media (max-width: 600px) {
    .historicParams {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
    .historicParams > div {
        display: flex;
        flex-direction: column;
    }
    .historicParams input {
        width: 100%;
        text-align: center;
    }
}
