.detailTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.25rem;
}
.table {
    padding-block: 1rem 2rem;
}
@media (max-width: 600px){
    .detailTitle{
        flex-direction: column;
        gap: 0.5rem;
    }
}
