.table {
    display: flex;
    flex-direction: column;
    background: var(--container-background);
    border-radius: var(--container-border-radius);
    border: 2px solid var(--container-border);
    padding: 1rem 1.5rem 1.5rem;
    -webkit-box-shadow: var(--container-shadow) 14px 14px;
    box-shadow: var(--container-shadow) 14px 14px;
    gap: 0.25rem;
}
.row {
    display: grid;
    grid-template-columns: 0.3fr 1fr 0.25fr 0.25fr;
    gap: 0.5rem;
}
.cell {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.cell:first-child {
    width: fit-content;
}
.link {
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}
