#root {
    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #0099bb;
    --secondary-color: #aa0000;
    --terciary-color: #f0f0f0;
    --black: #000000;
    --white: #ffffff;
    --grey: #333;
    --light-grey: #c3c3c3;
    --text-small-color: #555;
    --footer-background: #00000010;
    --container-background: #fefefe;
    --container-border: #000;
    --container-shadow: #d2effd;
    --container-border-radius: 8px;
    --button-disabled: #ececec;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('/public/background.svg');
    min-height: 100vh;
    min-width: 100%;
}

.highcharts-legend,
.highcharts-credits {
    display: none;
}
