#root {
    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: #04353f;
    --secondary-color: #007fff;
    --terciary-color: #ff6600;
    --black: #000000;
    --white: #ffffff;
    --grey: #333;
    --light-grey: #C3C3C3;
    --text-small-color: #555;
    --footer-background: #00000010;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url('/public/background.svg');
    min-height: 100vh;
    min-width: 100%;
}
