.header {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 20px 15px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 150px);
    padding: 2rem;
}

.main h1 {
    color: var(--primary-color);
}

.footer {
    height: 50px;
    background-color: var(--footer-background);
}
