.header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem 2rem;
    background-color: var(--footer-background);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 100px);
    padding: 2rem;
}
.main h1 {
    color: var(--primary-color);
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: var(--footer-background);
}
